*
{
    margin:0;
    padding: 0;
    font-family:'Roboto',sans-serif;
}
.container
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(gambar3.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar
{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo
{
    width: 150px;
    cursor: pointer;
    transition:1s;
}
.logo:hover
{
    transform: translate(-10px);
}

.menu-icon
{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    color: white;
}
nav 
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a
{
    text-decoration:none;
    color: white;
    font-size: 16px;
}
.row
{
    display: flex;
    height: 88%;
    align-items: center;
}
.col
{
    flex-basis: 50%;
}
h1
{
    color:orange;
    font-size: 100px;
}
p
{
    color:white;
    font-size: 13px;
    line-height: 18px;
}
.card
{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px; 
    background-position: center;
    background-size:cover;   
    transition: 0.5s;
}

.card1
{
    background-image: url(cth1.jpg);
}
.card2
{
    background-image: url(cth2.jpg);
}
.card3
{
    background-image: url(cth3.jpg);
}
.card4
{
    background-image: url(cth4.jpg);
}
.card:hover
{
  transform: translateY(-10px);
}
h5
{
    color:rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(255, 255, 255);

}
.maps
{
    box-sizing: border-box;
    border-radius: 10px;
}